/* Start Global Variables */
:root {
    --main-color: #efba6c;
    --active-color: #e6a443;
    --paragraph-color: #5a5a5a;
    --padding-section: 100px;
}
/* End Global Variables */
/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body {
    font-family: 'Work Sans', sans-serif;
}
::selection {
    background-color: black;
    color: white;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Extra Small */
@media (max-width: 767px) {
    .container {
        width: 92%;
    }
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.special-heading {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.special-heading .content-container {
    line-height: 1.7; 
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;    
    position: relative;
}
.special-heading .title {
    color: var(--main-color);
    width: 100%;
    font-weight: 700;
    font-size: .85rem;    
}
.special-heading .bg {
    font-size: 78px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    color: #eee;
    font-weight: 900;
    z-index: -1;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.special-heading h2 {
    font-weight: 400;
    width: 100%;
    margin-top: -35px;
    font-size: 27px;
}
@media (max-width: 567px) {
    .special-heading .bg {
        font-size: 60px;
    }
    .special-heading h2 {
        font-size: 20px;
    }
}
/* End Components */
/* Start Navbar */
nav {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
nav .logo {
    width: 70px;
    height: 70px;
    margin-left: 100%;
}
nav ul {
    width: 46%;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    gap: 5%;
}
@media (max-width: 991px) {
    nav {
        padding: 50px 40px;
    }
    nav .logo {
        margin-left: 0%;
    }
   nav ul {
       display: none;
   }
}
nav ul li a {
    color: black;
}
nav ul li:nth-child(1) a {
    color: var(--main-color);
}
nav ul li {
    display: inline-block;
}
/* End Navbar */
/* Start Landing */
.landing {
    width: 100%;
    height: 100vh;
    background: url(../images/xhero_1.jpg.pagespeed.ic.CzyZ_H8Wh-.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    align-items: center;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgb(0 0 0 / 30%);
}
.landing .text {
    position: relative;
    width: 50%;
    animation: .7s forwards info;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
}
.info-head {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
@keyframes info {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}
.info-content {
    font-size: 15px;
    color: white;
    line-height: 1.6;
}
.play-button {
    display: flex;
    align-items: baseline;
}
#play-btn {
    color: white;
    height: 55px;
    width: 55px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    vertical-align: middle;
    filter: blur(100%);
    display: inline-block;
    margin-top: 2%;
    background-color: #ffffff33;
}
#play-btn-phrase {
    width: 150px;
    font-size: 12px;
    color: white;
    display: inline-block;
    margin-left: 2%;
}
#play-btn:hover {
    color: black;
    background-color: white;
}
/* End Landing */
/* Start Story */
.story {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.story .container {
    display: flex;
}
@media (max-width: 767px) {
    .story .container {
        flex-direction: column;
    }
}
.story .special-heading .content-container {
    margin-left: 15%;
}
.story .text {
    line-height: 1.7;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.story .text p {
    width: 80%;   
    margin-left: 15%;
 }
.story .img-container {
    width: 50%;
    display: flex;
    justify-content: center;
}
@media (max-width: 767px) {
    .story .text {
        width: 100%;
    }
    .story .img-container {
        width: 100%;
    }
}
.story img {
    width: 100%;
    object-fit: cover;
    animation: run 7s infinite linear;
    -webkit-animation: run 7s infinite linear;
}
.story .img-container:hover {
    animation-play-state: paused;
}
@keyframes run {
    10% {
        transform: translate(-15%, 0px);
        opacity: 0;
    }
    20%, 30% {
        transform: translate(0%, 0px);
        opacity: 1;
        -webkit-transform: translate(0%, 0px);
        -moz-transform: translate(0%, 0px);
        -ms-transform: translate(0%, 0px);
        -o-transform: translate(0%, 0px);
}   
}
/* End Story */
/* Start Journey */
.journey {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.journey .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.journey .img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.journey .img-container .img-box {
    flex-basis: calc(calc(100% / 3) - 60px);
    min-width: 300px;
    overflow: hidden;
    position: relative;
    opacity: .8;
    object-fit: cover;
}
@media (max-width: 991px) {
    .journey .img-container .img-box {
        flex-basis: calc(calc(100% / 2) - 30px);
    }
}
@media (max-width: 767px) {
    .journey .img-container .img-box {
        flex-basis: 80%;
    }
}
@media (max-width: 567px) {
    .journey .img-container .img-box {
        flex-basis: 100%;
    }
}
.journey .img-container .img-box img {
    width: 100%;
    height: 100%;
    transition: 0.3s all ease;
    transform: scale(1.05);
}
.journey .img-container .img-box:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.journey .img-container .content {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
    color: white;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.journey .img-container #img-btn {
    background-color: var(--main-color);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 20px;
}
.journey .img-container #img-btn:hover {
    background-color: var(--active-color);
}
.journey .img-container .img-box a:nth-child(2) {
    width: 100%;
    text-align: center;
}
/* End Journey */
/* Start Staff */
.staff {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    width: 100%;
}
@media (max-width: 567px) {
    .staff .special-heading .bg {
        font-size: 50px;
    }
}
.staff .employees-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}
@media (max-width: 767px) {
    .staff .employees-container {
        flex-direction: column;
    }
}
.staff .employee {
    flex-basis: calc(calc(100% / 3) - 30px);
}
@media (max-width: 991px) {
    .staff .employee {
        flex-basis: calc(calc(100% / 2) - 30px);
    }
}
@media (max-width: 767px) {
    .staff .employee {
        flex-basis: 80%;
    }
}
@media (max-width: 567px) {
    .staff .employee {
        flex-basis: 100%;
    }
}
.staff .employee .image {
    max-width: 100%;
}
.staff .employee .image img {
    object-fit: cover;
    margin-bottom: 20px;
}
.staff .employee h2 {
    font-weight: 400;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}
.staff .employee .title {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: rgb(150, 147, 147);
}
.staff .employee p {
    line-height: 1.6;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.staff .employee .social-media {
    display: flex;
    justify-content: center;
}
.staff .employee .social-media a {
    margin-right: 2%; 
}
.staff .employee .social-media a .icon {
    color: var(--main-color);
    display: flex !important;
    justify-content: center;
    align-items: center;   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(252 241 226);
    margin-top: 50px;
}
.staff .employee .social-media .icon:hover {
    color: var(--active-color);
}
/* End Staff */
/* Start Testimony */
.testimony {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width: 567px) {
    .testimony .special-heading .bg {
        font-size: 35px;
    }
}
.testimony .customers {
    width: 100%;
    overflow: hidden;
}
.testimony .customers-container {
    width: 200%;
    display: flex;
    position: relative;
}
.testimony .customer-container label i {
    position: absolute;
    color: rgb(100% 100% 100% / 50%);
    left: 20px;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.testimony .customer-container label:nth-of-type(2) i {
    left: auto;
    right: 51%;
}
.testimony .customer-container label i:hover {
    color: white;
}
.testimony .customers-container input[name="slide"] {
    position: absolute;
    visibility: hidden;
}
.testimony .customers-container input[id="slide1"]:checked ~ .customer-container .slide-1 {
    margin-left: 0;
}
.testimony .customers-container input[id="slide1"]:checked ~ .navigation label:nth-child(1) {
    width: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.testimony .customers-container input[id="slide2"]:checked ~ .customer-container .slide-1 {
    margin-left: -100%;
}
.testimony .customers-container input[id="slide2"]:checked ~ .navigation label:nth-child(2) {
    width: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.testimony .customers-container .navigation {
    width: 100%;
    display: flex;
    justify-content: center;    
    position: absolute;
    bottom: 20px;
    left: 25%;
    transform: translateX(-50%);    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.testimony .customers-container .navigation label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    background-color: var(--main-color);
    background-color: var(--paragraph-color);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.testimony .customer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.testimony .customer {
    margin-top: 20px;
    width: 23%;
    background-color: var(--main-color);
    padding: 50px 5px 60px 50px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7;
    box-shadow: 20px 20px 0px #fdf8f0;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.testimony .customer-2 {
    box-shadow: 0px 20px 0px #fdf8f0;
    margin-left: 10px;
}
.testimony .customer img {
    height: 60px;
    width: 60px;
    opacity: .9;
    display: inline-block;
    margin-right: 25px;
}
.testimony .customer p {
    color: var(--paragraph-color);
    display: inline-block;
    width: 71%;
    font-weight: 400;
    font-size: 20px;
}
.testimony .customer > span {
    width: 58%;
    margin-left: 75px;
    margin-top: 20px;
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 20px;
}
/* End Testimony */
/* Start Updates */
.updates {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    width: 100%;
}
.updates .blog-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
@media (max-width: 767px) {
    .updates .blog-container {
        flex-direction: column;
        row-gap: 30px;
    }
}
.updates .blog {
    flex-basis: calc(calc(100% / 3) - 30px);
}
@media (max-width: 991px) {
    .updates .blog {
        flex-basis: calc(calc(100% / 2) - 30px);
    }
}
@media (max-width: 767px) {
    .updates .blog {
        flex-basis: 80%;
    }
}
@media (max-width: 567px) {
    .updates .blog {
        flex-basis: 100%;
    }
}
.updates .blog .image {
    max-width: 100%;
}
.updates .blog .image a img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.updates .blog h2 {
    font-weight: 400;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
}
.updates .blog h2 a,
.updates .blog h2 a:visited { 
    color: black; 
}
.updates .blog h2 a:hover {    
    color: var(--active-color);
}
.updates .blog .date {
    font-size: 16px;
    width: 100%;
    color: #cecdcd;
}
.updates .blog span span {
    margin-left: 10px;
}
.updates .blog span a {
    color: var(--main-color);
    margin-left: 8px;
}
.updates .blog span a:hover {
    color: var(--active-color);
}
.updates .blog p {
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.updates .blog .text {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
/* End Updates */
/* Start Join Us */
.join-us {
    margin-top: 150px;
    width: 100%;
    height: 60vh;
    background: url(../images/xhero_1.jpg.pagespeed.ic.CzyZ_H8Wh-.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    position: relative;
    box-shadow: 0px 0px 0px 50vh #efbb6c63 inset;
}
.join-us .box {
    width: 100%;
    background-color: white;
}
.join-us .box .content {
    width: 100%;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.join-us .box .content h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
}
.join-us .box .content p {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
}
.join-us .box .content a {
    width: 132px;
    font-size: 14px;
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    letter-spacing: 2.5px;
    cursor: pointer;
}
.join-us .box .content a:visited {
    color: white;
}
.join-us .box .content a:hover {
    background-color: var(--active-color);
}
/* End Join Us */
/* Start Footer */
.foot {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: #f6f5f5;
}
.foot .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media (max-width: 991px) {
    .foot .footer-container {
        flex-direction: column;
        row-gap: 30px;
    }
}
.foot .instagram {
    width: calc(90% / 3);
}
.foot .instagram p {
    width: 100%;
    margin-left: 12px;
}
.foot .instagram .imgs-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
}
@media (max-width: 991px) {
    .foot .instagram .imgs-container {
        width: 100%;
    }
}
.foot .instagram .imgs-container .image {
    width: calc(calc(100% / 3) - 20px);
}
.foot .instagram .imgs-container .image img {
    width: 100%;
    height: 100%;
}
.foot .quick-links {
    width: calc(90% / 3);
}
@media (max-width: 991px) {
    .foot .footer-container > div {
        width: 100%;
    }
}
.foot .quick-links p {
    margin-bottom: 4vh;
}
.foot .quick-links a {
    color: var(--main-color);
    display: block;
    margin-top: 15px;
}
.foot .quick-links a:hover {
    color: var(--active-color) ;
}
.foot .newsletter {
    width: calc(90% / 3);
    font-family: 'Work Sans', sans-serif;
}
.foot .newsletter  p:nth-of-type(1) {
    margin-bottom: 20px;
}
.foot .newsletter  p:nth-of-type(2) {
    width: 80%;
    line-height: 1.6;
    margin-bottom: 10px;
}
.foot .newsletter input[type=text] {
    height: 30px;
    width: 150px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px 10px 15px;
    border: 1px transparent solid;
    outline: #eee 1px solid;
}
.foot .newsletter input[type=text]:focus, 
.foot .newsletter input[type=text]:hover {
    border: 1px black solid;
}
.foot .newsletter input[type=submit] {
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}
@media (max-width: 991px) {
    .foot .newsletter form {
        display: flex;
        column-gap: 15px;
        max-width: 100%;
    }
    .foot .newsletter input[type=text] {
        flex: 1;
    }
}
.foot .newsletter input[type=submit]:hover {
    background-color: var(--active-color);
}
.foot .container > p {
    line-height: 1.6;
    width: 100%;
    padding-top: 100px;
    text-align: center;
}
.foot .container > p a {
    color: var(--main-color);
}
.foot .container > p a:hover {
    color: var(--active-color);
}
/* End Footer */