/* Start Global Variables */
:root {
    --main-color: #efba6c;
    --active-color: #e6a443;
    --paragraph-color: #5a5a5a;
}
/* End Global Variables */
/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body {
    font-family: 'Work Sans', sans-serif;
}
::selection {
    background-color: black;
    color: white;
}
/* End Global Rules */
/* Start Components */
.special-heading {
    width: 100%;
    text-align: center;
}
.special-heading .content-container {
    line-height: 1.7;    
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}
.special-heading .title {
    color: var(--main-color);
    width: 100%;
    font-weight: 700;
    font-size: .85rem;
}
.special-heading .bg {
    font-size: 78px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70%;
    color: #eee;
    font-weight: 900;
    z-index: -1;
    user-select: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.special-heading h2 {
    font-weight: 400;
    width: 100%;
    margin-top: -35px;
    font-size: 27px;
}
/* End Components */
/* Start Navbar */
nav {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
nav .logo {
    width: 70px;
    height: 70px;
    margin-left: 100%;
}
nav ul {
    width: 46%;
    line-height: 1.6;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 5%;
}
nav ul li a {
    color: black;
}
nav ul li:nth-child(1) a {
    color: var(--main-color);
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;  
}
/* End Navbar */
/* Start Landing */
.landing {
    width: 100%;
    height: 100vh;
    background: url(../images/xhero_1.jpg.pagespeed.ic.CzyZ_H8Wh-.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 0px 50vh rgba(0, 0, 0, 0.3) inset;
    position: relative;
}
.landing .container {
    position: absolute;
    left: 10%;
    top: 30%;
    animation: .7s forwards info;
}
.info-head {
    width: 40%;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
@keyframes info {
    0% {
        left: 0%;
        opacity: 0;
    }
    100% {
        left: 10%;
        opacity: 1;
    }
}
.info-content {
    width: 45%;
    font-size: 15px;
    color: white;
    line-height: 1.6;
}
.play-button {
    display: flex;
    align-items: baseline;
}
#play-btn {
    color: white;
    text-decoration: none;
    height: 55px;
    width: 55px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    vertical-align: middle;
    filter: blur(100%);
    display: inline-block;
    margin-top: 2%;
    background-color: #ffffff33;
}
#play-btn-phrase {
    width: 150px;
    font-size: 12px;
    color: white;
    display: inline-block;
    margin-left: 2%;
}
#play-btn:hover {
    color: black;
    background-color: white;
}
/* End Landing */
/* Start Story */
.story {
    margin-top: 50px;
    display: flex;
    padding: 0 0 30px 0;
}
.story .special-heading .content-container{
    margin-left: 15%;
}
.story .text {
    line-height: 1.7;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.story .text p {
    width: 80%;   
    margin-left: 15%;
 }
.story .img-container {
    width: 50%;
    display: flex;
    justify-content: center;
}
.story img {
    width: 80%;
    animation: run 7s infinite linear;
}
.story .img-container:hover {
    animation-play-state: paused;
}
@keyframes run {
    10% {
        transform: translate(-15%, 0px);
        opacity: 0;
    }
    20%, 30% {
        transform: translate(0%, 0px);
        opacity: 1;
    }   
}
/* End Story */
/* Start Journey */
.journey {
    margin-top: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.journey .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}
.img-box {
    width: 24vw;
    height: 32vw;
}
#img-box-1, 
#img-box-2, 
#img-box-3, 
#img-box-4, 
#img-box-5, 
#img-box-6 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    opacity: .8;
}
#img-box-1 img,
#img-box-2 img, 
#img-box-3 img, 
#img-box-4 img, 
#img-box-5 img, 
#img-box-6 img {
    width: 100%;
    height: 100%;
    transition: 0.3s all ease;
    transform: scale(1.05);
}
#img-box-1 img:hover,
#img-box-2 img:hover,
#img-box-3 img:hover,
#img-box-4 img:hover,
#img-box-5 img:hover,
#img-box-6 img:hover {
    transform: scale(1);
}
.journey .img-container #img-btn {
    text-decoration: none;
    position: absolute;
    background-color: var(--main-color);
    color: white;
    padding: 5px 15px;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-radius: 20px;
}
.journey .img-container #img-btn:hover {
    background-color: var(--active-color);
}
.journey .img-container .img-box #img-phrase {
    text-decoration: none;
    position: absolute;
    color: white;
    top: 90%;
    width: 100%;
    text-align: center;
    display: block;
}
/* End Journey */
/* Start Staff */
.staff {
    margin-top: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    text-align: center;
}
.employee {
    width: calc(78%/3);
}
.staff .employee img {
    margin-bottom: 20px;
}
.staff .employee h2 {
    font-weight: 400;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}
.staff .employee .title {
    font-size: 14px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: rgb(150, 147, 147);
}
.staff .employee p {
    line-height: 1.6;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.staff .employee .social-media {
    display: flex;
    justify-content: center;
}
.staff .employee .social-media a {
    text-decoration: none;    
    margin-right: 2%; 
}
.staff .employee .social-media a .icon {
    text-decoration: none;
    color: var(--main-color);
    display: flex !important;
    justify-content: center;
    align-items: center;   
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(252 241 226);
    margin-top: 50px;
}
.staff .employee .social-media .icon:hover {
    color: var(--active-color);
}
/* End Staff */
/* Start Testimony */
.testimony {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.testimony .customers {
    width: 100%;
    overflow: hidden;
}
.testimony .customers-container {
    width: 200%;
    display: flex;
    position: relative;
}
.testimony .customer-container label i {
    position: absolute;
    color: rgb(100% 100% 100% / 50%);
    left: 20px;
    top: 50%;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.testimony .customer-container label:nth-of-type(2) i {
    left: auto;
    right: 51%;
}
.testimony .customer-container label i:hover {
    color: white;
}
.testimony .customers-container input[name="slide"] {
    position: absolute;
    visibility: hidden;
}
.testimony .customers-container input[id="slide1"]:checked ~ .customer-container .slide-1 {
    margin-left: 0;
}
.testimony .customers-container input[id="slide1"]:checked ~ .navigation label:nth-child(1) {
    width: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.testimony .customers-container input[id="slide2"]:checked ~ .customer-container .slide-1 {
    margin-left: -100%;
}
.testimony .customers-container input[id="slide2"]:checked ~ .navigation label:nth-child(2) {
    width: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.testimony .customers-container .navigation {
    width: 100%;
    display: flex;
    justify-content: center;    
    position: absolute;
    bottom: 20px;
    left: 25%;
    transform: translateX(-50%);    
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.testimony .customers-container .navigation label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    background-color: var(--main-color);
    background-color: var(--paragraph-color);
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}
.testimony .customer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.testimony .customer {
    margin-top: 20px;
    width: 23%;
    background-color: var(--main-color);
    padding: 50px 5px 60px 50px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.7;
    box-shadow: 20px 20px 0px #fdf8f0;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.testimony .customer-2 {
    box-shadow: 0px 20px 0px #fdf8f0;
    margin-left: 10px;
}
.testimony .customer img {
    height: 60px;
    width: 60px;
    opacity: .9;
    display: inline-block;
    margin-right: 25px;
}
.testimony .customer p {
    color: var(--paragraph-color);
    display: inline-block;
    width: 71%;
    font-weight: 400;
    font-size: 20px;
}
.testimony .customer > span {
    width: 58%;
    margin-left: 75px;
    margin-top: 20px;
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 20px;
}
/* End Testimony */
/* Start Updates */
.updates {
    margin-top: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.updates .blog {
    width: calc(78%/3);
}
.updates .blog a img {
    width: 100%;
    margin-bottom: 20px;
}
.updates .blog h2 {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}
.updates .blog h2 a {    
    text-decoration: none;
}
.updates .blog h2 a,
.updates .blog h2 a:visited { 
    color: black; 
}
.updates .blog h2 a:hover {    
    color: var(--active-color);
}
.updates .blog .date {
    font-size: 16px;
    width: 100%;
    color: #cecdcd;
}
.updates .blog span span {
    margin-left: 10px;
}
.updates .blog span a {
    text-decoration: none;
    color: var(--main-color);
    margin-left: 8px;
}
.updates .blog span a:hover {
    text-decoration: none;
    color: var(--active-color);
}
.updates .blog p {
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.updates .blog .text {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
/* End Updates */
/* Start Join Us */
.join-us {
    margin-top: 150px;
    width: 100%;
    height: 60vh;
    background: url(../images/xhero_1.jpg.pagespeed.ic.CzyZ_H8Wh-.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    position: relative;
    box-shadow: 0px 0px 0px 50vh #efbb6c63 inset;
}
.join-us .box {
    width: 100%;
    background-color: white;
}
.join-us .box .content {
    width: 100%;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.join-us .box .content h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
}
.join-us .box .content p {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
}
.join-us .box .content a {
    width: 132px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    letter-spacing: 2.5px;
    cursor: pointer;
}
.join-us .box .content a:visited {
    color: white;
}
.join-us .box .content a:hover {
    background-color: var(--active-color);
}
/* End Join Us */
/* Start Footer */
.foot {
    width: 100%;
    height: 100vh;
    background-color: #f6f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foot .instagram {
    margin-top: 22vh;
    width: calc(90% / 3);

}
.foot .instagram p {
    width: 100%;
    margin-left: 12px;
}
.foot .instagram .imgs-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
}
.foot .instagram img {
    width: 80px;
    height: 80px;
}
.foot .quick-links {
    margin-top: 22vh;
    width: calc(90% / 3);
}
.foot .quick-links p {
    margin-bottom: 4vh;
}
.foot .quick-links a {
    text-decoration: none;
    color: var(--main-color);
    display: block;
    margin-top: 15px;
}
.foot .quick-links a:hover {
    color: var(--active-color) ;
}
.foot .newsletter {
    width: calc(90% / 3);
    margin-top: 22vh;
    font-family: 'Work Sans', sans-serif;
}
.foot .newsletter  p:nth-of-type(1) {
    margin-bottom: 20px;
}
.foot .newsletter  p:nth-of-type(2) {
    width: 80%;
    line-height: 1.6;
    margin-bottom: 10px;
}
.foot .newsletter input[type=text] {
    height: 30px;
    width: 180px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 30px 10px 15px;
    border: 1px transparent solid;
    outline: #eee 1px solid;
}
.foot .newsletter input[type=text]:focus, 
.foot .newsletter input[type=text]:hover {
    border: 1px black solid;
}
.foot .newsletter input[type=submit] {
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
}
.foot .newsletter input[type=submit]:hover {
    background-color: var(--active-color);
}
.foot > p {
    line-height: 1.6;
    width: 100%;
    margin-top: 14vh;
    text-align: center;
}
.foot > p a {
    color: var(--main-color);
    text-decoration: none;
}
.foot > p a:hover {
    color: var(--active-color);
}
/* End Footer */